<h2>Details of {{ axiosResult.name }}</h2>
<h3> Occupation: {{ axiosResult.occupation }} </h3>
<p> Weapon: {{ axiosResult.weapon }} </p>
<p>Debt:{{axiosResult.debt}}</p>

<a href="/characters/{{axiosResult.id}}/edit-character">edit</a>

<form action="/characters/{{axiosResult.id}}/delete" method="POST">
<button>DELETE</button>
</form>